<launch>
    <param name="/traj_planner/steps_per_phase" type="int" value="4" />
    <param name="/p_obstacle" type="double" value="0.45" />
    <param name="/traj_controller/trajectory_index" type="int" value="1" />

    <node pkg="lgp_car_real_time" type="obstacle_avoidance_tree_node" name="obstacle_avoidance" output="screen">
    </node>

    <node pkg="lgp_car_real_time" type="gui_control_obstacle_avoidance.py" name="gui_control_obstacle_avoidance" output="screen">
    </node>

    <node pkg="lgp_car_real_time" type="trajectory_controller_node" name="trajectory_controller" output="screen">
    </node>

    <node pkg="lgp_car_real_time" type="obstacle_popping_control_node" name="obstacle" output="screen">
    </node>

    <include file="$(find lgp_car_real_time)/launch/display_obstacle_avoidance.launch">
    </include>
</launch>
