<?xml version="1.0"?>
<model>
  <name>LGP Car</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Camille Phiquepal</name>
   <email>camille.phiquepal@gmail.com</email>
  </author>

  <description>
    Simple Pedestrian for LGP KOMO based Planning
  </description>
</model>
